.Icons {
    color: #7626fb;
    font-size: 2.5em;
}

.contactIcons {
    color: #7626fb;
}

.ant-page-header-heading-title {
    // color: white !important;
    color: #2f2f2f;
    font-size: 1.25em;

}
// .aboutPageRow .aboutPageColumn .aboutDetails p{
//     text-align: center!important;
// }

.ant-page-header-heading-extra .ant-btn {
    // color: white;
    color: #2f2f2f;
    font-weight: 700;
    border: 0px solid #7626fb;
    background: #fff0;
}

.ant-page-header-heading-extra .ant-btn:hover {
    color: #7626fb;
    border-bottom: 1px solid #7626fb;
}

.ProfileImage {
    width: 86%;
}

.CentreDivTech {
    display: flex;
    justify-content: center;

}

.centreItems Button {
    margin-right: 22px;
    height: 100%;
    background: transparent;
    color: #7626fb;
    font-weight: 600;
    font-size: 1rem;
}

.bachelorsColumn {
    b {
        word-spacing: initial !important;
    }
}

//Project


.ProjectCardOuter {
    width: 83vw;
    border-radius: 23px;
    margin: 8vw;
    // margin-left: 8vw;
    background-color: rgb(255, 255, 255);
    align-content: center;
}


//About

.aboutDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutDetails p {
    font-family: "M PLUS Rounded 1c";
    font-size: 1rem;
}

//Header
.aboutHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0px;
    font-size: 1.4rem;
    font-family: "M PLUS Rounded 1c";
    color: #000000b8;
}

.aboutHeader p {
    font-size: 1rem;
    font-family: "M PLUS Rounded 1c";
    color: #000000;
    font-weight: 500;
}





.viewButton {
    background-color: #7626fb;
    border-color: white;
    color: white;
}

.viewButton :hover {
    box-shadow: 2px #7626fb;
}

.viewButton .ant-btn:focus,
.ant-btn:hover {
    color: #7626fb;
    border-color: #7626fb;
}

.techStackHeader {
    margin-top: 4vh;
    padding-bottom: 1vh;
}

.projectModal {
    .ant-modal-content {
        height: 90vh;
        border-radius: 20px;
        overflow-y: scroll;
    }

    .viewProjectsHeader {
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    .skillIcons2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 3vw;

        span {
            margin: 16px;
            margin-top: 0px;
            margin-left: 0px;
            background-color: #ececec70;
            padding: 8px 15px;
            font-size: 1.1em;
            letter-spacing: 1px;
            font-weight: 600;
            border-radius: 7px;
        }
    }

    #description {
        display: flex;
        flex-direction: column;
    }

    #headerRow {
        border-bottom: 1px solid lightgrey;
        padding-bottom: 5vh;
        margin-bottom: 2vh;

        #logoImage {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 1vh;
        }
    }

    #innerHeader {
        font-size: 2em;
        font-weight: 600;
        color: #7a7a7a;
    }

    #innerHeader1 {
        display: flex;
        align-items: center;
        font-size: 1.25em;
        margin-bottom: 3vh;
        margin-top: 3vh;
        color: #6b6b6b;

        .anticon {
            margin-left: 1vw;
            margin-right: 1vw;
        }
    }

    #logoImage {
        height: 75%;
        width: 63%;
    }

    #header {
        font-size: 3em;
        font-weight: 600;
        margin-top: 1vh;
        color: #7626fb;
    }

    #viewProjectButton {
        background-color: #7626fb;
        color: white;
        border-radius: 5px;
        font-size: 1.25em;
        height: auto;
    }

    #shortDescription {
        font-size: 1.25em;
        font-weight: 400;
        color: #8a8a8a;
        margin-bottom: 2vh;
    }

    #deviceRow {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: scroll;

        #deviceImages {
            .ant-image-img {
                height: 40vh;
                width: 35vw;
                margin-left: 3vw;
                border-radius: 13px;
            }
        }

        .ant-image-mask:hover {
            width: 92%;
            margin-left: 3vw;
        }
    }
}

.truncated-text {
    p {
        font-size: 1.35em;
        color: #4b4b4b;
    }

    #buttonReadMore {
        text-align: end;
    }
}

.read-more-btn {
    background-color: #7626fb;
    color: white;
    border-radius: 5px;
    font-size: 1.25em;
    height: auto;
}

// HomePage

.homePageBody {

    // display: flex;
    // flex-direction: row;
    #homePageContent {
        display: flex;
        height: 70vh;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;

        h2 {
            color: #7626fb;
            font-weight: 700;
            font-size: 2.5rem;
        }

        .type {
            color: #828080 !important;
            font-weight: 500;
            font-size: 1.25rem;
            font-family: sans-serif;
            margin-bottom: 1vh;
        }

        .viewButton {
            background-color: #7626fb;
            border-color: white;
            color: white;
            height: auto;
            border-radius: 10px;
            font-size: 1.25em;
            font-weight: 500;
            margin-top: 20px;
        }
    }

    #homePageFooter {
        display: flex;
        height: 20vh;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;

        .ant-card-bordered {
            border: 1px solid #7626fb;
            border-radius: 15px;
            box-shadow: 4px 5px 9px 0px #8888889c;
        }

        .ant-card-body {
            padding: 10px;
            padding-left: 25px;
            padding-right: 25px;
        }
    }
}

.ant-page-header-heading-title {
    color: #5b5a5a;
}

.pageHeader {
    font-family: "M PLUS Rounded 1c";
    font-size: 1rem;
    color: #5b5a5a !important;
    background-color: white;
    box-shadow: 1px 1px 12px 0px #7626fb45;
    position: sticky;
    top: 0;
    z-index: 10;
}

.projectRowInner {
    margin-bottom: 5vh;
}

//About
.aboutPageRow {
    // display: flex;
    // flex-direction: column;
    // align-content: center;
    // justify-content: center;
    // align-items: center;
    background-color: #fafafa;
    height: auto;

    .aboutPageColumn {

        display: flex;
        flex-direction: column;
        // align-content: center;
        // justify-content: center;
        align-items: center;

        .aboutDetails {
            margin-top: 4vh;
            margin-bottom: 9vh;

            h2 {
                all: revert;
                font-size: 1.85em;
            }

            p {
                text-align: justify;
                font-size: 1.15em;
                font-weight: 400;
                color: #625959;
                // word-spacing: 2px;
                // line-height: 26px;
            }
            #education{
                p{
                    text-align: left!important;
                }
            }
            .ant-btn {
                background-color: #9029fb;
                color: white;
                font-size: 1.15em;
                height: auto;
                width: 7vw;
                font-weight: 600;
                border-radius: 15px;
            }

            .skillIcons {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                span {
                    margin: 16px;
                    margin-top: 0px;
                    margin-left: 0px;
                    background-color: #cdcccc70;
                    padding: 11px 20px;
                    font-size: 1.1em;
                    letter-spacing: 1px;
                    font-weight: 500;
                    border-radius: 7px;
                }
            }
        }

        h2 {
            margin-top: 10vh;
            font-size: 3em;
            font-weight: 800;
            letter-spacing: 5px;
            color: #7626fb;
            /* border-width: 42px; */
            border-bottom: 2px solid #9a9a9a;
        }

        p {
            text-align: center;
            margin-top: 0vh;
            margin-bottom: 2vh;
            font-size: 1.1em;
            // letter-spacing: 10px;
        }
    }

}

//Projects
.projectHeading {
    text-align: center;

    h2 {
        margin-top: 10vh;
        font-size: 3em;
        font-weight: 800;
        letter-spacing: 5px;
        // text-decoration: underline;
        color: #7626fb;
        /* border-width: 42px; */
        // border-bottom: 2px solid #9a9a9a;
    }

    h2:after {
        content: "";
        /* This is necessary for the pseudo element to work. */
        display: block;
        /* This will put the pseudo element on its own line. */
        margin: 0 auto;
        /* This will center the border. */
        width: 20%;
        /* Change this to whatever width you want. */
        padding-top: 10px;
        /* This creates some space between the element and the border. */
        border-bottom: 1px solid black;
    }
}

.projectImage {

    .skillIcons1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        span {
            margin: 16px;
            margin-top: 0px;
            margin-left: 0px;
            background-color: #cdcccc70;
            padding: 8px 15px;
            font-size: 1.1em;
            letter-spacing: 1px;
            font-weight: 500;
            border-radius: 7px;
        }
    }

    #textCol {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;

        h2 {
            font-size: large;
            font-weight: 500;
            letter-spacing: 1px;
            color: #454646;
        }

        p {
            font-size: larger;
            color: #5c6161;
            letter-spacing: 1px;
            word-spacing: 3px;
        }

        .ant-btn {
            background-color: #7626fb;
            color: white;
            border-radius: 11px;
            margin-top: 8px;
        }
    }

    .ant-card {
        margin-top: 10vh;
        padding-top: 8vh;
        border-radius: 20px;
        box-shadow: 0px 2px 10px 0px #a4a4a4;
    }

    #projectCol1 {
        display: flex;
        justify-content: center;
    }

    img {
        height: 100%;
        width: 80%;
        object-fit: scale-down;
    }

}

// Contact
.ContactHeight {
    height: 100vh;
}

.contactHeading {
    width: 100%;
    text-align: center;
}

.ContactImageColumn {
    background-color: #efcafe;
    text-align: center;
    border-radius: 22px;
}

.contactInput {
    border-radius: 11px;
    border: 2px solid #efcafe;
    width: 62%;
    line-height: 1.5rem;
    padding-left: 10px;
    margin-bottom: 16px;
}

.contactInput::selection {
    background-color: white;
}

.contactInputDiv {
    display: flex;
    justify-content: center;
}

.contactButton {
    border-radius: 14px;
    font-size: 0.9rem;
    font-weight: 600;
    height: 100%;
    background-color: #7626fb;
    border-color: white;
    color: white;
    width: 15%;
    padding: 5px;
    font-family: 'M PLUS Rounded 1c';
}

.contactButtonDiv {
    display: flex;
    justify-content: center;
}

.contactCard {
    margin-top: 10vh;
    background-color: #fafafa;
    height: auto;

    .contactInputDiv {
        margin-top: 2vh;
    }

    .contactInput {
        border: 2px solid #b89fe1;
        width: 62%;
        height: 6vh;
        background-color: #fafafa;
    }

    .ContactHeight {
        height: auto;
    }

    .ProjectCardOuter {
        width: auto;
        margin: 4vw;
    }
}

.Footer {
    height: auto;
    padding-top: 10vh;
    background-color: #29006d;
    color: white;

    #footerLeft {
        text-align: end;
    }

    h2 {
        color: white;
        font-weight: 700;
        font-size: 1.35rem;
        letter-spacing: 2px;
    }

    p {
        margin-top: 2vh;
        font-size: 0.75rem;
        font-weight: 300;
    }

    .Icons {
        color: white;
    }

    #end {
        // height: 1px;
        width: 80%;
        // align-items: center;
        color: #f5f5f57a;
        text-align: center;
        line-height: 80px;
        margin-left: 10vw;
        margin-top: 10vh;
        margin-bottom: 6vh;
        border-top: 1px solid #f5f5f57a;
    }

    // #footerLeft:after {
    //     content: "";
    //     /* This is necessary for the pseudo element to work. */
    //     display: block;
    //     /* This will put the pseudo element on its own line. */
    //     margin: 0 auto;
    //     /* This will center the border. */
    //     width: 80%;
    //     /* Change this to whatever width you want. */
    //     padding-top: 30vh;
    //     /* This creates some space between the element and the border. */
    //     border-bottom: 1px solid black;
    // }

}

//Tablet
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .homePageBody #homePageContent h2 {
        text-align: center;
    }

    .aboutDetails {
        text-align: center;
    }
    .projectRowInner{
        #viewProjectButton{
            width: 100%;
            text-align: center;
        }
    }
    .aboutPageRow {
        .aboutPageColumn {
            .aboutDetails {
                display: flex!important;
                flex-direction: row!important;
                .ant-btn {
                    width: auto;
                }
            }
        }
    }

    .aboutPageRow .aboutPageColumn .aboutDetails .ant-btn {
        width: max-content;
    }

    .aboutPageRow .aboutPageColumn .aboutDetails p {
        text-align: left;
    }

    .ant-modal-centered .ant-modal {
        width: 85vw !important;
    }

    .projectImage #textCol h2 {
        margin-top: 5vh;
    }

    .truncated-text p {
        font-size: 1em;
    }

    .read-more-btn {
        font-size: 1em;
    }

    .projectModal #deviceRow #deviceImages .ant-image-img {
        height: 40vh;
        width: 75vw;
    }

    .projectModal {
        #header {
            font-size: 1.5em;
        }

        #shortDescription {
            font-size: 1em;
        }

        #viewProjectButton {
            font-size: 1em;
        }

        #innerHeader {
            font-size: 1.5em;
        }
    }

}

//potrait phone 
@media (min-width:350px) and (max-width:577px) {
    .ant-page-header-heading-title {
        font-size: .85em;
        font-weight: 800;
        color: #454646;
    }

    .ant-page-header-heading-extra .ant-btn {
        padding: 5px;
    }
    .aboutDetails{
        #educationCol{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .homePageBody {
        #homePageContent {
            h2 {
                font-size: 2.25rem;
                text-align: center;
            }
        }
    }

    .aboutPageRow {
        .aboutPageColumn {
            .aboutDetails {
                display: flex!important;
                flex-direction: row!important;
                .ant-btn {
                    width: auto;
                }
            }
        }
    }

    // .aboutPageRow .aboutPageColumn .aboutDetails p{
    //     word-spacing: 0px!important;
    // }
    .contactCard {
        .contactInput {
            width: 92%;
        }

        .contactButton {
            width: auto;
        }
    }

    .Footer {
        text-align: center;

        #end {
            font-size: smaller;
        }

        #footerLeft {
            text-align: center;
            margin-top: 10vh;
        }
    }

    .projectImage {
        #textCol {
            align-items: center;
            margin-bottom: 3vh;
            text-align: center;

            // border-bottom: 1px solid black;
            h2 {
                margin-top: 3vh;
                font-size: 2em;
                font-weight: 700;
            }
        }

        .skillIcons1 {
            justify-content: center;
        }
    }

    .ant-page-header-compact .ant-page-header-heading {
        display: flex;
        justify-content: center;
    }

    .homePageBody #homePageContent .type {
        height: 10vh;
        text-align: center;
    }

    .aboutPageColumn {
        text-align: center;
    }

    .aboutPageRow .aboutPageColumn .aboutDetails .skillIcons {
        justify-content: center;
    }

    .projectImage img {
        width: 100%;
    }

    .projectImage {
        display: flex;
        flex-direction: column;
        align-items: center;

        .ant-card {
            width: 95vw;
        }
    }

    //projectModal
    .ant-modal-centered .ant-modal {
        width: 90vw !important;
    }

    .truncated-text p {
        font-size: 1em;
    }

    .read-more-btn {
        font-size: 1em;
    }

    .projectModal #deviceRow #deviceImages .ant-image-img {
        height: 30vh;
        width: 100vw;
    }

    .projectModal {
        #header {
            font-size: 1.5em;
        }

        #shortDescription {
            font-size: 1em;
        }

        #viewProjectButton {
            font-size: 1em;
        }

        #logoImage {
            height: auto;
            width: 100%;
        }

        #innerHeader {
            font-size: 1.5em;
        }

        #innerHeader1 {
            font-size: 1em;
        }

        .skillIcons2 span {
            font-size: 1em;
        }
    }




}